*{
    margin: 0;
	padding: 0;
	border: 0;
}

body{

}

.header{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://s1.hostingkartinok.com/uploads/images/2022/04/09398d2174788092a10fafac336523ae.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    font-size: 50px;
    color: rgb(9, 44, 9);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

.breafInfo{
    font-size: 25px;
    color: rgb(9, 44, 9);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

.button{
    border: 4px solid rgb(9, 44, 9);
    width: 200px;
    height: 63px;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
}

.buttonText{
    font-size: 30px;
    font-weight: 600;
    color: rgb(9, 44, 9);
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

a{
    text-decoration:none
}

.footContainer{
    display: flex;
    flex-direction: column;
}

.footnote1{
    background-color: rgb(9, 44, 9);
    padding: 20px;
}

.footnote2{
    background-color: rgb(24, 92, 24);
    padding: 20px;
}

.foot1{
    font-size: 20px;
    font-stretch: extra-expanded;
    color: azure;
}

.foot2{
    font-size: 20px;
    font-stretch: extra-expanded;
    color: black;
}

.footer{
    display: flex;

}